/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
} */

.stock-info {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}
/* 
h2 {
    margin-top: 0;
    font-size: 18px;
    color: #1a0dab;
} */

.stock-data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.stock-label {
    font-weight: bold;
    color: #555;
}

.my-popup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 500px;
    height: 500px;
    background-color: navy;
    color: yellow;
    overflow: auto; /* Add overflow property to enable scrolling if the content exceeds the div size */
    padding: 20px; /* Add padding for better visual appearance */
  }